* {
    box-sizing: border-box;
}
html {
    margin: 0;
    font-size: 16px;
}
body {
    background-image: url(/resources/backgroundpic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    color: lightgray;
    text-align: center;
}

/*header*/

header {
    background-color: hsla(180, 25%, 20%, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
@media only screen and (max-width:900px) {
    header {
        font-size: .80rem;
    }

}

/*hero*/

.herobox {
    background-color: hsla(180, 25%, 20%, 0.75);
    margin: 10rem 10rem;
    padding: 1.5rem;
    text-align: center;
}
ul {
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 1rem;
}
li {
    line-height: 1.75;
    font-size: 1.10rem;
}
@media only screen and (max-width:900px) {
    .herobox {
        font-size: .45rem;
        margin: 5rem 5rem;
    }
}

/*about*/

.aboutbox {
    background-color: hsla(180, 25%, 20%, 0.75);
    width: 100%;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
.aboutpicsbox {
    display: flex;
    justify-content: space-around;
    background-color: hsla(1, 60%, 20%, 0.75);
    padding: 1rem;
    margin: .3rem .5rem;
}

.aboutpics {
    width: 25%;

}
.aboutcontent {
    display: flex;
    justify-content: space-between;

}
.abouttext {
    width: 50%;
    font-size: 2rem;
}
.aboutimg {
    width: 50%;
    flex-shrink: 1;
}
@media only screen and (max-width:900px) {
    .aboutpicsbox {
        flex-direction: column;
        align-items:center;
    }
    .aboutpics {
        width: 60%;
        margin: 1rem;
    }
    .abouttext {
        font-size: 1rem;
    }
    .aboutcontent {
        flex-direction: column;
        align-items: center;
    }
    .aboutimg {
        width: 60%;
    }
}
@media only screen and (max-width:500px) {
    .aboutimg {
        display: none;
    }
}
/*quote*/

.quotebox {
    background-color: hsla(1, 60%, 20%, 0.75);
    text-align: left;
    font-size: 1.5rem;
    margin: 3rem auto;
}
@media only screen and (max-width:900px) {
    .quotebox {
        font-size: 1rem;
    }
}


footer {
    background-color: hsla(180, 25%, 20%, 0.75);
    width: 100%;
}